# views/timer/show.erb
<h1><%= @title %></h1>

<button type="button" class="btn btn-primary" onClick="stopTimer('/stop_timer/<%= @timer.id %>')">Stop Timer</button>
<br>
<span id="timer" onClick="beginTimer()">0 seconds</span>