# views/posts/index.erb
<h1>Timer History</h1>

<% @timers.each do |timer| %>
  <% next if not timer.end_time %>

    <h3><%= pretty_date(timer.created_at) %> :
    	<span><%= timer.end_time - timer.start_time if timer.end_time %></span>
    </h3>

<% end %>
